<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">BlogApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if user_signed_in? %>
        <li><a href="/blogs/new">投稿</a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
      </ul>
      <% end %>
    </div>
  </nav>
        
    <%= yield %>
  </body>
</html>
